.jumbotron {
  background-image: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet);
  margin-bottom: 0rem;
}
.navbar {
  background-color:aquamarine;
}
.site-footer {
  background-color: aquamarine;
}
.container-fluid {
 
}
.row-fluid {
   border-style: dotted;
   border-color: black;
}
.homefind {
 background-color: aquamarine;
}
.homebecome {
  background-color: rgb(255, 201, 7);
}
.homebtn {
  margin-bottom: 1rem;
}
body {
  background-color: rgb(241, 255, 50);
}
